* {
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}


main {
    background-image: url("assets/images/image2.jpg");
    background-position: center center;
    background-size: max(1000,100);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    
}

main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color:black;
}
.line {
    width: 100%;
    height: 3px;
    background-color: gray;
}

nav {
     padding: 10px;
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    

}
 nav img{
    width: 110px;
   background: inherit;
    position: relative;
    z-index: 30;


    
} 

nav button {
    position:relative;
    z-index: 20;
}

.hero {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 10px;
    padding: 23px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: unset;
    text-align: center;

}

.hero> :nth-child(2) {
    font-family: unset;
    font-size: 1.5rem;
    font-weight: 400px;
    text-align: center;
}
.hero> :nth-child(3) {
    font-size: 1rem;
    font-weight: 400px;
    text-align: center;

}
.hero div button{
    border-radius:6px;
    background-color: red;
    font-size: 20px;
    padding: 10px;
}
.hero input{
    color: white;
border-radius:6px;
font-size: 20px;
padding: 10px;
background-color: rgb(22, 22, 22);
}
.btn{
    cursor: pointer;
    border: 1px solid white;
    color: white;
    border-radius:4px;
    padding: 3px 5px;
    background-color: rgb(43, 38, 38);
    
}
.btn-red{
    font-weight: 600;
    color: white;
    border: 1px solid white;
border-radius:4px;
background-color: red;
padding: 3px 5px;
}
.btn-red1{

    color: white;
    font-weight: 500 ;
}
 .first{
    font-weight: 500 ;

    font-size: 2.1rem;
    max-width: 70vw;
    padding: 10px 0px;
    color: white
} 

.secimg {

    
    display:flex;
    border-radius: 7px;
    margin:15px;
    gap:15px;
    max-width: 1500px;
    flex-wrap: wrap;
}

.secimg img{

   width:150px;
    border-radius: 7px;
}

.text{

    color:white;
}
.box1 {
     width: 20%;
     height: 10%;
  /* position: relative; */
    /* background-color: rgb(181, 176, 176); */
   /* border-radius: 5px solid black */
}
.box1 video{
    width: 100%;
     height: 100%;
    /* position: relative; */
}
.fag h2{
    text-align: center;
    
    
    font-size: 48px;
}
.fag{
    background-color: black;
    color: white;
    padding: 30px;
    
    
}
.fagbox:hover{
background-color: rgb(53, 47, 47);
}
.fagbox img{
    filter: invert(1);
}
.fagbox{
    transition: all 1s ease-out;
     font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin:  34px auto;
    
    cursor: pointer;
}
